<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scale=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"
    />
    <title>Layout 3</title>
    <link rel="stylesheet" href="./layout3.css" />
  </head>
  <body>
    <header>HEADER</header>
    <main>
      MAIN
      <div>
        <img
          src="https://i.loli.net/2020/07/29/vCoweN1RHd8M4GF.jpg"
          alt=""
          style="object-fit: fill; width: 70%;"
        />
      </div>
      <div>
        <!-- 手动调整宽度(px或%都可以)，并且使用填充  -->
        <img
          src="https://i.loli.net/2020/07/29/vCoweN1RHd8M4GF.jpg"
          alt=""
          style="object-fit: fill; width: 100%; height: 100px;"
        />
      </div>
      <div>
        <img src="https://i.loli.net/2020/07/29/vCoweN1RHd8M4GF.jpg" alt="" />
      </div>
      <div>
        <img src="https://i.loli.net/2020/07/29/vCoweN1RHd8M4GF.jpg" alt="" />
      </div>
    </main>
    <footer><div onclick="showDialog()" >FOOTER</div></footer>

    <!-- 显示弹窗 -->
    <div class="is_show">
      <!-- 遮罩 -->
      <div class="mask"></div>
      <!-- 内容 -->
      <div class="content">
        <div onclick="handlerClose()">XXXXX</div>
        <img src="https://i.loli.net/2020/07/29/j2r5pb4DeLfiJx1.jpg" alt="">
      </div>
    </div>


    <script>
      let isShow = document.querySelector('.is_show');
      function showDialog(){
        console.log('showDialog()');
        isShow.style.zIndex= 0;
        isShow.style.opacity=1;
      }

      function handlerClose(){
        console.log('handlerClose()');
      }

    </script>

  </body>
</html>
