/*
 * @Author: Satya 
 * @Date: 2020-07-30 19:57:15 
 * @Last Modified by: Satya
 * @Last Modified time: 2020-07-30 21:42:16
 * doc:色板示例样式
 */

html {
  /* 新增 中国色 色板 */
  --color-fen-hong: #ffb3a7;
  --color-fei-se: #ed5736;
  --color-pin-hong: #f00056;
  --color-tao-hong: #f47983;
  --color-hai-tang: #db5a6b;
  --color-shi-liu: #f20c00;
  --color-yin-hong: #f05654;
  --color-da-hong: #ff2121;
  --color-jiang-zi: #8c4356;
  --color-yan-zhi: #9d2933;
  --color-zhu-hong: #ff4c00;
  --color-dan: #ff4e20;
  --color-tong: #f35336;
  --color-xi-se: #cb3a56;
  --color-huo-hong: #ff2d51;
  --color-he-chi: #c91f37;
  --color-yan-hong: #ef7a82;
  --color-yang-hong: #ff0097;
  --color-yan: #ff3300;
  --color-wan: #a98175;
  --color-zao-hong: #c32136;
  --color-tan: #b36d61;
  --color-tuo-hong: #dc3023;
  --color-tuo-yan: #f9906f;
  --color-e-huang: #fff143;
  --color-ya-huang: #faff72;
  /* 编号形式 */
  --color-0-1: #ffb3a7;
  --color-0-2: #ed5736;
  --color-0-3: #f00056;
  --color-0-4: #f47983;
  --color-0-5: #db5a6b;
  --color-0-6: #f20c00;
  --color-0-7: #f05654;
  --color-0-8: #ff2121;
  --color-0-9: #8c4356;
  --color-0-10: #9d2933;
  --color-0-11: #ff4c00;
  --color-0-12: #ff4e20;
  --color-0-13: #f35336;
  --color-0-14: #cb3a56;
  --color-0-15: #ff2d51;
  --color-0-16: #c91f37;
  --color-0-17: #ef7a82;
  --color-0-18: #ff0097;
  --color-0-19: #ff3300;
  --color-0-20: #a98175;
  --color-0-21: #c32136;
  --color-0-22: #b36d61;
  --color-0-23: #dc3023;
  --color-0-24: #f9906f;
  --color-1-1: #fff143;
  --color-1-2: #faff72;
  /* --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color-
    --color- */

  /* 示例属性 */
  --color-accent: #00eb9b;
  --color-accent-secondary: #9db4ff;
  --color-accent-tertiary: #f2c0ea;
  --color-text: #292929;
  --color-divider: #d7d7d7;
}

.special {
  --color-special: #9a1f74;
}

/* 
  Demo styles:
  这些仅用于显示我们的调色板，不会影响读取自定义属性的过程.
*/

html {
  color: var(--color-text);
  font-family: sans-serif;
}

.colors {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.color {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  transition: box-shadow 0.15s;
}

.color:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.color__swatch {
  background-color: var(--color);
  border-radius: 2px 2px 0 0;
  display: block;
  height: 11rem;
}

.color__details {
  font-size: 1.375rem;
  padding: 0.5rem;
  text-align: right;
}

.color input {
  border: 0;
  display: block;
  font-family: monospace;
  font-size: inherit;
  margin: 0;
  padding: 0.2rem;
  text-align: right;
  width: 100%;
}
