/*
 * @Author: Satya 
 * @Date: 2020-07-31 09:43:44 
 * @Last Modified by: Satya
 * @Last Modified time: 2020-07-31 18:05:13
 * doc:主题样式
 */

/* color scheme
    in HSL, only one value changes 
    in RGB this is more complex
 */
.bg-1 {
  /* rgb(0, 51, 51) */
  background: hsl(180, 100%, 10%);
}

.bg-2 {
  /* rgb(0, 77, 77) */
  background: hsl(180, 100%, 15%);
}

.bg-3 {
  /* rgb(0, 102, 102) */
  background: hsl(180, 100%, 20%);
}

.bg-4 {
  /* rgb(0, 128, 128) */
  background: hsl(180, 100%, 25%);
}

.bg-5 {
  /* rgb(0, 153, 153) */
  background: hsl(180, 100%, 30%);
}

.bg-6 {
  /* rgb(0, 179, 179) */
  background: hsl(180, 100%, 35%);
}

/* base hues */
.bg-11 {
  /* rgb(0, 51, 51) */
  background: hsl(180, 100%, 10%);
}

.bg-12 {
  /* rgb(0, 0, 51) */
  background: hsl(240, 100%, 10%);
}

.bg-13 {
  /* rgb(51, 0, 51) */
  background: hsl(300, 100%, 10%);
}

.bg-14 {
  /* rgb(51, 0, 0) */
  background: hsl(0, 100%, 10%);
}

.bg-15 {
  /* rgb(51, 51, 0) */
  background: hsl(60, 100%, 10%);
}

.bg-16 {
  /* rgb(0, 51, 0) */
  background: hsl(120, 100%, 10%);
}

/* variable definiton, [data-theme-container] is the <tr> */
[data-theme-container] {
  /* number of themes, hue of first color, hue-step to next hue */
  --theme-count: 6;
  --first-hue: 180;
  --hue-step: calc(360 / var(--theme-count));

  /* number of shades, steps of lightness */
  --shade-count: 6;
  --lgt-step: 5%;

  /* lightness definitions, a preprocessor would be nice */
  /* 10% */
  --lgt-1: var(--lgt-step);
  /* 15% */
  --lgt-2: calc(var(--lgt-1) + var(--lgt-step));
  /* 20% */
  --lgt-3: calc(var(--lgt-2) + var(--lgt-step));
  /* 25% */
  --lgt-4: calc(var(--lgt-3) + var(--lgt-step));
  /* 30% */
  --lgt-5: calc(var(--lgt-4) + var(--lgt-step));
  /* 35% */
  --lgt-6: calc(var(--lgt-5) + var(--lgt-step));
}

/* hue definitions, also something for a preprocessor */
[data-theme="color-1"] {
  --hue: var(--first-hue); // 180
}

[data-theme="color-2"] {
  --hue: calc(var(--first-hue) + calc(var(--hue-step))); // 240
}

[data-theme="color-3"] {
  --hue: calc(var(--first-hue) + calc(var(--hue-step) * 2)); // 300
}

[data-theme="color-4"] {
  --hue: calc(var(--first-hue) + calc(var(--hue-step) * 3)); // 360 => 0
}

[data-theme="color-5"] {
  --hue: calc(var(--first-hue) + calc(var(--hue-step) * 4)); // 420 => 60
}

[data-theme="color-6"] {
  --hue: calc(var(--first-hue) + calc(var(--hue-step) * 5)); // 480 => 120
}

/* assignment of all colors, same for all themes */
.bg-31 {
  background: hsl(var(--hue), 100%, var(--lgt-1));
}

.bg-32 {
  background: hsl(var(--hue), 100%, var(--lgt-2));
}

.bg-33 {
  background: hsl(var(--hue), 100%, var(--lgt-3));
}

.bg-34 {
  background: hsl(var(--hue), 100%, var(--lgt-4));
}

.bg-35 {
  background: hsl(var(--hue), 100%, var(--lgt-5));
}

.bg-36 {
  background: hsl(var(--hue), 100%, var(--lgt-6));
}
