/*
 * @Author: Satya 
 * @Date: 2020-07-30 10:01:29 
 * @Last Modified by: Satya
 * @Last Modified time: 2020-07-30 17:47:29
 * doc:多端适应
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Rubik";
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  line-height: 1.1;
  /* 视口计算的方式设置字体，使用计算，已保证移动端字号不能超出最小 */
  font-size: calc(12px + 1vw);
}

header {
  color: aqua;
  background: #333;
}
header,
footer,
main {
  padding: 1rem;
}

main {
  /* background: #eee; */
  flex-grow: 1;
}

footer {
  color: aqua;
  background: #333;
}

/* header内中所有元素布局 */

p::after,
p::before {
  content: ":";
}

p {
  font-size: 30vmin;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  margin: auto;
}

/* 图标垂直居中 */
.inline-icon {
  display: inline-block;
  width: 1lh;
  height: 1lh;
}
